In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import wrangle as w
import explore as e
import preprocess as p
import modeling as m
from scipy import stats



pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.expand_frame_repr', False)

In [2]:
train,val,test = w.wrangle_data()
train.head()

Found Data

        age  income  loan_amount  credit_score  months_employed  num_credit_lines  interest_rate  loan_term  dti_ratio    education employment_type marital_status mortgage dependents loan_purpose cosigned  default
73275    57  102745       123266           313                1                 3          24.99         24       0.88   Bachelor's   Self-employed        Married      Yes        Yes     Business       No        1
214906   41  134674        19512           839               62                 1          23.17         60       0.87  High School      Unemployed       Divorced       No        Yes         Auto      Yes        0
172067   22   75333       162085           806               79                 4           5.03         36       0.44  High School      Unemployed        Married       No         No    Education       No        0
38482    22   20454       128754           513               21                 2           6.68         36       0.67   Bachelor's      Unemployed       Divorced      Yes         No        Other      Yes        1
230713   38   54094       168473           679               31                 4          12.08         60       0.76  High School       Full-time        Married       No         No         Home      Yes        0

In [3]:
train = e.bin_data(train)

In [4]:
X_train, y_train = p.xy_split(train)

In [5]:
X_train.shape

(178742, 67)

In [6]:
y_train

73275     1
214906    0
172067    0
38482     1
230713    0
         ..
119879    0
103694    0
131932    0
146867    0
121958    1
Name: default, Length: 178742, dtype: int64

In [7]:

X_train = pd.get_dummies(X_train)

In [8]:
X_train.head()

             age    income  loan_amount  credit_score  months_employed  num_credit_lines  interest_rate  loan_term  dti_ratio  years_employed  education_Bachelor's  education_High School  education_Master's  education_PhD  employment_type_Full-time  employment_type_Part-time  employment_type_Self-employed  employment_type_Unemployed  marital_status_Divorced  marital_status_Married  marital_status_Single  mortgage_No  mortgage_Yes  dependents_No  dependents_Yes  loan_purpose_Auto  loan_purpose_Business  loan_purpose_Education  loan_purpose_Home  loan_purpose_Other  cosigned_No  cosigned_Yes  credit_bin_300s  credit_bin_400s  credit_bin_500s  credit_bin_600s  credit_bin_700s  credit_bin_800s  age_bin_18-25  age_bin_26-29  age_bin_30-35  age_bin_36-39  age_bin_40-45  age_bin_46-49  age_bin_50-55  age_bin_56-59  age_bin_60-69  interest_bin_2-6  interest_bin_7-10  interest_bin_11-15  interest_bin_16-19  interest_bin_20-25  loan_amount_bin_5k-50k  loan_amount_bin_50k-100k  loan_amount_bin_100k-150k  loan_amount_bin_150k-200k  loan_amount_bin_200k-250k  income_bin_15k-30k  income_bin_30k-60k  income_bin_60k-90k  income_bin_90k-120k  income_bin_120k-150k  years_employed_bin_0-2  years_employed_bin_3-4  years_employed_bin_5-6  years_employed_bin_7-8  years_employed_bin_9-10
73275   0.764706  0.649968     0.482708      0.023679         0.008403                 3       0.999565         24     0.9750        0.008403                     1                      0                   0              0                          0                          0                              1                           0                        0                       1                      0            0             1              0               1                  0                      1                       0                  0                   0            1             0                1                0                0                0                0                0              0              0              0              0              0              0              0              1              0                 0                  0                   0                   0                   1                       0                         0                          1                          0                          0                   0                   0                   0                    1                     0                       1                       0                       0                       0                        0
214906  0.450980  0.886481     0.059210      0.981785         0.521008                 1       0.920435         60     0.9625        0.521008                     0                      1                   0              0                          0                          0                              0                           1                        1                       0                      0            1             0              0               1                  1                      0                       0                  0                   0            0             1                0                0                0                0                0                1              0              0              0              0              1              0              0              0              0                 0                  0                   0                   0                   1                       1                         0                          0                          0                          0                   0                   0                   0                    0                     1                       0                       0                       1                       0                        0
172067  0.078431  0.446914     0.641157      0.921676         0.663866                 4       0.131739         36     0.4250        0.663866                     0                      1                   0              0                          0                          0                              0                           1                        0                       1                      0            1             0              1               0                  0                      0                       1                  0                   0            1             0                0                0                0                0                0                1              1              0              0              0              0              0              0              0              0                 1                  0                   0                   0                   0                       0                         0                          0                          1                          0                   0                   0                   1                    0                     0                       0                       0                       1                       0                        0
38482   0.078431  0.040400     0.505108      0.387978         0.176471                 2       0.203478         36     0.7125        0.176471                     1                      0                   0              0                          0                          0                              0                           1                        1                       0                      0            0             1              1               0                  0                      0                       0                  0                   1            0             1                0                0                1                0                0                0              1              0              0              0              0              0              0              0              0                 1                  0                   0                   0                   0                       0                         0                          1                          0                          0                   1                   0                   0                    0                     0                       1                       0                       0                       0                        0
230713  0.392157  0.289587     0.667231      0.690346         0.260504                 4       0.438261         60     0.8250        0.260504                     0                      1                   0              0                          1                          0                              0                           0                        0                       1                      0            1             0              1               0                  0                      0                       0                  1                   0            0             1                0                0                0                1                0                0              0              0              0              1              0              0              0              0              0                 0                  0                   1                   0                   0                       0                         0                          0                          1                          0                   0                   1                   0                    0                     0                       1                       0                       0                       0                        0

In [9]:
X_train = p.scale(X_train)
X_train.head()

             age    income  loan_amount  credit_score  months_employed  num_credit_lines  interest_rate  loan_term  dti_ratio  years_employed  education_Bachelor's  education_High School  education_Master's  education_PhD  employment_type_Full-time  employment_type_Part-time  employment_type_Self-employed  employment_type_Unemployed  marital_status_Divorced  marital_status_Married  marital_status_Single  mortgage_No  mortgage_Yes  dependents_No  dependents_Yes  loan_purpose_Auto  loan_purpose_Business  loan_purpose_Education  loan_purpose_Home  loan_purpose_Other  cosigned_No  cosigned_Yes  credit_bin_300s  credit_bin_400s  credit_bin_500s  credit_bin_600s  credit_bin_700s  credit_bin_800s  age_bin_18-25  age_bin_26-29  age_bin_30-35  age_bin_36-39  age_bin_40-45  age_bin_46-49  age_bin_50-55  age_bin_56-59  age_bin_60-69  interest_bin_2-6  interest_bin_7-10  interest_bin_11-15  interest_bin_16-19  interest_bin_20-25  loan_amount_bin_5k-50k  loan_amount_bin_50k-100k  loan_amount_bin_100k-150k  loan_amount_bin_150k-200k  loan_amount_bin_200k-250k  income_bin_15k-30k  income_bin_30k-60k  income_bin_60k-90k  income_bin_90k-120k  income_bin_120k-150k  years_employed_bin_0-2  years_employed_bin_3-4  years_employed_bin_5-6  years_employed_bin_7-8  years_employed_bin_9-10
73275   0.764706  0.649968     0.482708      0.023679         0.008403                 3       0.999565         24     0.9750        0.008403                     1                      0                   0              0                          0                          0                              1                           0                        0                       1                      0            0             1              0               1                  0                      1                       0                  0                   0            1             0                1                0                0                0                0                0              0              0              0              0              0              0              0              1              0                 0                  0                   0                   0                   1                       0                         0                          1                          0                          0                   0                   0                   0                    1                     0                       1                       0                       0                       0                        0
214906  0.450980  0.886481     0.059210      0.981785         0.521008                 1       0.920435         60     0.9625        0.521008                     0                      1                   0              0                          0                          0                              0                           1                        1                       0                      0            1             0              0               1                  1                      0                       0                  0                   0            0             1                0                0                0                0                0                1              0              0              0              0              1              0              0              0              0                 0                  0                   0                   0                   1                       1                         0                          0                          0                          0                   0                   0                   0                    0                     1                       0                       0                       1                       0                        0
172067  0.078431  0.446914     0.641157      0.921676         0.663866                 4       0.131739         36     0.4250        0.663866                     0                      1                   0              0                          0                          0                              0                           1                        0                       1                      0            1             0              1               0                  0                      0                       1                  0                   0            1             0                0                0                0                0                0                1              1              0              0              0              0              0              0              0              0                 1                  0                   0                   0                   0                       0                         0                          0                          1                          0                   0                   0                   1                    0                     0                       0                       0                       1                       0                        0
38482   0.078431  0.040400     0.505108      0.387978         0.176471                 2       0.203478         36     0.7125        0.176471                     1                      0                   0              0                          0                          0                              0                           1                        1                       0                      0            0             1              1               0                  0                      0                       0                  0                   1            0             1                0                0                1                0                0                0              1              0              0              0              0              0              0              0              0                 1                  0                   0                   0                   0                       0                         0                          1                          0                          0                   1                   0                   0                    0                     0                       1                       0                       0                       0                        0
230713  0.392157  0.289587     0.667231      0.690346         0.260504                 4       0.438261         60     0.8250        0.260504                     0                      1                   0              0                          1                          0                              0                           0                        0                       1                      0            1             0              1               0                  0                      0                       0                  1                   0            0             1                0                0                0                1                0                0              0              0              0              1              0              0              0              0              0                 0                  0                   1                   0                   0                       0                         0                          0                          1                          0                   0                   1                   0                    0                     0                       1                       0                       0                       0                        0

In [16]:
y_train.value_counts()

0    158013
1     20729
Name: default, dtype: int64

In [11]:
baseline = (y_train == 0).mean()
baseline

0.884028376095154

In [12]:
m.r_forest(X_train, y_train)

TypeError: r_forest() missing 2 required positional arguments: 'X_val' and 'y_val'

In [ ]:
m.d_tree(X_train, y_train)

In [ ]:
#m.knn_m(X_train, y_train)

In [ ]:
train[train.default == 1].age.mean()

In [ ]:
train.age.mean()

In [ ]:


a = .5

# an array of all observed values of the subgroup
default_sample = train[train.default == 1].age

# the population mean
overall_mean = train['age'].mean()

t, p = stats.ttest_1samp(default_sample, overall_mean)

print(f'a = {a}')
print(f't = {t}')
print(f'p = {p}')
print('')

if p/2 > a:
    print("We fail to reject the null hypothesis.")
elif t < 0:
    print("We fail to reject null hypothesis.")
else:
    print("We reject the null hypothesis.")

In [ ]:
def t_test(df, feature):

    a = .5

    # an array of all observed values of the subgroup
    default_sample = df[df.default == 1][feature]

    # the population mean
    overall_mean = df[feature].mean()

    t, p = stats.ttest_1samp(default_sample, overall_mean)

    print(f'a = {a}')
    print(f't = {t}')
    print(f'p = {p}')
    print('')

    if p/2 > a:
        print("We fail to reject the null hypothesis.")
    elif t < 0:
        print("We fail to reject null hypothesis.")
    else:
        print("We reject the null hypothesis.")

In [ ]:
t_test(train, 'interest_rate')