In [17]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import wrangle as w
import explore as e
import preprocess as p
import modeling as m
from scipy import stats



pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.expand_frame_repr', False)

In [2]:
train = w.wrangle_data()
train.head()

Found Data

   age  income  loan_amount  credit_score  months_employed  num_credit_lines  interest_rate  loan_term  dti_ratio    education employment_type marital_status mortgage dependents loan_purpose cosigned  default
0   56   85994        50587           520               80                 4          15.23         36       0.44   Bachelor's       Full-time       Divorced      Yes        Yes        Other      Yes        0
1   69   50432       124440           458               15                 1           4.81         60       0.68     Master's       Full-time        Married       No         No        Other      Yes        0
2   46   84208       129188           451               26                 3          21.17         24       0.31     Master's      Unemployed       Divorced      Yes        Yes         Auto       No        1
3   32   31713        44799           743                0                 3           7.07         24       0.23  High School       Full-time        Married       No         No     Business       No        0
4   60   20437         9139           633                8                 4           6.51         48       0.73   Bachelor's      Unemployed       Divorced       No        Yes         Auto       No        0

In [3]:
train = e.bin_data(train)

In [4]:
X_train, y_train = p.xy_split(train)

In [5]:
X_train = X_train.drop(columns=['months_employed', 'years_employed', 'loan_amount', 'credit_score', 'age_bin', 'income', 'interest_bin', 'loan_term', 'dti_ratio', 'num_credit_lines', 'education', 'employment_type', 'marital_status', 'mortgage', 'dependents', 'loan_purpose', 'cosigned'])

In [6]:
X_train.shape

(255347, 6)

In [7]:
y_train

0         0
1         0
2         1
3         0
4         0
         ..
255342    0
255343    1
255344    0
255345    0
255346    0
Name: default, Length: 255347, dtype: int64

In [8]:

X_train = pd.get_dummies(X_train)

In [9]:
X_train.head()

   age  interest_rate  credit_bin_300s  credit_bin_400s  credit_bin_500s  credit_bin_600s  credit_bin_700s  credit_bin_800s  loan_amount_bin_5k-50k  loan_amount_bin_50k-100k  loan_amount_bin_100k-150k  loan_amount_bin_150k-200k  loan_amount_bin_200k-250k  income_bin_15k-30k  income_bin_30k-60k  income_bin_60k-90k  income_bin_90k-120k  income_bin_120k-150k  years_employed_bin_0-2  years_employed_bin_3-4  years_employed_bin_5-6  years_employed_bin_7-8  years_employed_bin_9-10
0   56          15.23                0                0                1                0                0                0                       0                         1                          0                          0                          0                   0                   0                   1                    0                     0                       0                       0                       1                       0                        0
1   69           4.81                0                1                0                0                0                0                       0                         0                          1                          0                          0                   0                   1                   0                    0                     0                       1                       0                       0                       0                        0
2   46          21.17                0                1                0                0                0                0                       0                         0                          1                          0                          0                   0                   0                   1                    0                     0                       1                       0                       0                       0                        0
3   32           7.07                0                0                0                0                1                0                       1                         0                          0                          0                          0                   0                   1                   0                    0                     0                       1                       0                       0                       0                        0
4   60           6.51                0                0                0                1                0                0                       1                         0                          0                          0                          0                   1                   0                   0                    0                     0                       1                       0                       0                       0                        0

In [10]:
X_train = p.scale(X_train)
X_train.head()

        age  interest_rate  credit_bin_300s  credit_bin_400s  credit_bin_500s  credit_bin_600s  credit_bin_700s  credit_bin_800s  loan_amount_bin_5k-50k  loan_amount_bin_50k-100k  loan_amount_bin_100k-150k  loan_amount_bin_150k-200k  loan_amount_bin_200k-250k  income_bin_15k-30k  income_bin_30k-60k  income_bin_60k-90k  income_bin_90k-120k  income_bin_120k-150k  years_employed_bin_0-2  years_employed_bin_3-4  years_employed_bin_5-6  years_employed_bin_7-8  years_employed_bin_9-10
0  0.745098       0.575217                0                0                1                0                0                0                       0                         1                          0                          0                          0                   0                   0                   1                    0                     0                       0                       0                       1                       0                        0
1  1.000000       0.122174                0                1                0                0                0                0                       0                         0                          1                          0                          0                   0                   1                   0                    0                     0                       1                       0                       0                       0                        0
2  0.549020       0.833478                0                1                0                0                0                0                       0                         0                          1                          0                          0                   0                   0                   1                    0                     0                       1                       0                       0                       0                        0
3  0.274510       0.220435                0                0                0                0                1                0                       1                         0                          0                          0                          0                   0                   1                   0                    0                     0                       1                       0                       0                       0                        0
4  0.823529       0.196087                0                0                0                1                0                0                       1                         0                          0                          0                          0                   1                   0                   0                    0                     0                       1                       0                       0                       0                        0

In [11]:
y_train.mode()

0    0
Name: default, dtype: int64

In [12]:
baseline = (y_train == 0).mean()
baseline

0.8838717509898295

In [13]:
m.r_forest(X_train, y_train)

Train Accuracy = 0.6751361872275766

In [14]:
m.d_tree(X_train, y_train)

Train Accuracy = 0.6640179833716472

In [15]:
#m.knn_m(X_train, y_train)

In [36]:
train[train.default == 1].age.mean()

36.55953866387887

In [37]:
train.age.mean()

43.498306226429136

In [33]:


a = .5

# an array of all observed values of the subgroup
default_sample = train[train.default == 1].age

# the population mean
overall_mean = train['age'].mean()

t, p = stats.ttest_1samp(default_sample, overall_mean)

print(f'a = {a}')
print(f't = {t}')
print(f'p = {p}')
print('')

if p/2 > a:
    print("We fail to reject the null hypothesis.")
elif t < 0:
    print("We fail to reject null hypothesis.")
else:
    print("We reject the null hypothesis.")

a = 0.5
t = -85.97673872931917
p = 0.0

We fail to reject null hypothesis.

In [31]:
def t_test(df, feature):

    a = .5

    # an array of all observed values of the subgroup
    default_sample = df[df.default == 1][feature]

    # the population mean
    overall_mean = df[feature].mean()

    t, p = stats.ttest_1samp(default_sample, overall_mean)

    print(f'a = {a}')
    print(f't = {t}')
    print(f'p = {p}')
    print('')

    if p/2 > a:
        print("We fail to reject the null hypothesis.")
    elif t < 0:
        print("We fail to reject null hypothesis.")
    else:
        print("We reject the null hypothesis.")

In [34]:
t_test(train, 'interest_rate')

a = 0.5
t = 65.48351892915397
p = 0.0

We reject the null hypothesis.